[submodule ".zsh/plugins/fzf-tab"]
	path = .zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule ".zsh/plugins/zsh-autosuggestions"]
	path = .zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".zsh/plugins/zsh-completions"]
	path = .zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule ".zsh/plugins/zsh-kitty"]
	path = .zsh/plugins/zsh-kitty
	url = https://github.com/redxtech/zsh-kitty.git
[submodule ".zsh/plugins/zsh-syntax-highlighting"]
	path = .zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh/plugins/zsh-vi-mode"]
	path = .zsh/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
[submodule ".zsh/themes/powerlevel10k"]
	path = .zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".zsh/plugins/autojump"]
	path = .zsh/plugins/autojump
	url = https://github.com/wting/autojump.git
